@import 'gerenteIndex.css';
@import 'venda.css';

* {
	border: 0px solid;
}

a {
	color: #aaa !important;
	transition: 0.5s;
}

a:hover {
	color: #fff !important;
	transition: 0.5s;
}

input:read-only { 
	background-color: white !important;
	cursor: no-drop;
}

html{
	height: 100%;
	width: 100%;
}

body{
	height: 100%;
	width: 100%;
	background-color: #222;
}

.btn-primary {
	background-color: #111;
	color: #eee;
	border: none;
}
.btn-primary:hover {
	background-color: #009999;
	border: none;
}
.container{
	/*background-color: #222;*/
}

.espacamento{
    width: 3em;
    padding-top: 0.7em;
}
