@import 'gerenteIndex.css';
@import 'venda.css';

* {
	border: 0px solid black;
}

textarea:hover, 
input:hover, 
textarea:active, 
input:active, 
textarea:focus, 
input:focus,
button:focus,
button:active,
button:hover,
label:focus,
.btn:active,
.btn.active
{
    outline:0px !important;
	-webkit-appearance:none !important;
	box-shadow: none !important;
}

a {
	color: #aaa !important;
	transition: 0.5s;
}

a:hover {
	color: #fff !important;
	transition: 0.5s;
}

input:read-only { 
	background-color: white !important;
	cursor: no-drop;
}

html{
	height: 100%;
	width: 100%;
}

body{
	height: 100%;
	width: 100%;
	background-color: #222;
}

.btn-primary {
	background-color: #111;
	color: #eee;
	border: none;
}
.btn-primary:hover {
	background-color: #009999;
	border: none;
}
.container{
	/*background-color: #222;*/
}

.espacamento{
    width: 3em;
    padding-top: 0.7em;
}

.tdTblProdutos a {
	color: #111 !important;
	font-weight: semibold;
	text-decoration: none;
}
.tdTblProdutos{ 
	color: #111 !important;
	font-weight: semibold;
	font-size: 1.25em;
	cursor: default;
}
